body {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

h2, p {
  margin: 0;
}

::-webkit-input-placeholder {
  font-family: 'Nunito', sans-serif;
  color: #9C9C9C;
}

.appcontainer-wrapper {
  margin-top: 30px !important;
}

.header-wrapper {
  background-color: white;
  height: 66px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
}

.constrained-width {
  max-width: 1100px;
  margin: 0 auto;
}

.searchbox-wrapper {
  width: 300px;
  display: inline-block;
  position: relative;
  bottom: 27px;
  left: 50px;
}

.searchbox-wrapper form {
  position: relative;
  margin: 0 5px 0 0;
  width: 100%;
  background-color: white;
  height: 35px;
}

.searchbox-wrapper form input {
  height: 35px;
  padding: 0 10px 0 40px;
  width: -webkit-fill-available;
  outline: none;
  border: none;
}

.searchbox-wrapper form i {
  height: 14px;
  left: 8px;
  position: absolute;
  top: 5px;
  width: 14px;
}

.leaderboard-menu-link {
  position: relative;
  left: 150px;
  bottom: 25px;
}

.card-wrapper {
  background-color: white;

}

.card-section-wrapper {
  background-color: white;
  padding: 20px 40px 20px 20px;

}

.card-section-wrapper:hover {
  background-color: #f9f9f9;
}

.card-section-wrapper .column-30-p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.multi-avatar-unit-wrapper .avatar:nth-of-type(2) {
  position: relative;
  left: -20px;
}

.multi-avatar-unit-wrapper .avatar:nth-of-type(3) {
  position: relative;
  left: -40px;
}

.multi-avatar-unit-wrapper .avatar:nth-of-type(4) {
  position: relative;
  left: -60px;
}

.multi-avatar-unit-wrapper .avatar:nth-of-type(5) {
  position: relative;
  left: -80px;
}

.follows-multi-avatar-unit {
  position: relative;
  left: -60px;
}

.reaction-button-bar-wrapper {
  width: fit-content;
  position: relative;
  bottom: 10px;
}

.reaction-button {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: white;
}

.reaction-button:nth-of-type(2) {
  border-left: 0.5px solid #e8e8e8;
  border-right: 0.5px solid #e8e8e8;
}

.reaction-button:hover {
  background: #f9f9f9;
  filter: brightness(105%);
}

.explanation-card-wrapper {
  margin-bottom: 35px;
}

.media-type-selection-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-explanation-form input {
  width: 100%;
  height: 47px;
  box-sizing: border-box;
  padding-left: 15px;
}

.add-explanation-form textarea {
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  height: auto;
}

.leaderboard-table {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.leaderboard-table td, .leaderboard-table th {
  border-bottom: 1px solid #dedede;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
}

.leaderboard-table tr:last-child td {
  border: none;
}

.menu-bar-login-button {
  position: relative;
  top: 20px;
}
