.font-sml {
  font-size: 13px;
}

.font-med {
  font-size: 16px;
}

.font-lrg {
  font-size: 20px;
}

.font-bold-sml {
  font-weight: 400;
}

.font-bold-med {
  font-weight: 700;
}

.font-bold-extra {
  font-weight: 900;
}

.avatar {
  border-radius: 200px;
}

.avatar-sml {
  width: 35px;
  position: relative;
  top: 10px;
  margin-right: 15px;
}

.avatar-sml-size-no-positioning {
  width: 35px;
}

.avatar-med {
  width: 65px;
}

.avatar-lrg {

}

.logo {

}

.logo-sml {
  width: 65px;
  height: 65px;
}

.logo-lrg {

}

.rounded-border {
  border-radius: 5px;
}

.light-border {
  border: 1px solid #e8e8e8;
}

.light-border-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.drop-shadow {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.font-color-light-grey {
  color: #6f6f6f;
}

.material-icons {
  width: 24px;
  position: relative;
  top: 7px;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.columns-parent-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
}

.columns-parent-div .column-30-p {
  width: 29%;
}

.columns-parent-div .column-70-p {
  width: 69%;
}

.columns-parent-div .column-20-p {
  width: 19%;
}

.columns-parent-div .column-80-p {
  width: 79%;
}

.link {
  color: #6462EF !important;
}

.column-section:not(:first-child) {
  margin-top: 60px;
}

.button {
  box-sizing: border-box;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  min-width: 100px;
}

.button:hover {
  filter: brightness(110%);
}

.background-purple {
  background: #6462EF;
  color: white;
}

.background-grey {
  background: #F9F9F9;
}

.background-dark-grey {
  background: #9C9C9C;
}

.background-green {
  background: #A3D066;
  color: white;
}

.background-blue {
  background: #6EC3E9;
  color: white;
}

.margin-left {
  margin-left: 15px;
}

.margin-top-sml {
  margin-top: 15px;
}

.margin-top-med {
  margin-top: 35px;
}

.margin-top-lrg {
  margin-top: 55px;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.flex-horizontal-center {
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}
